<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source = DESKTOP-L43DEKK; Initial Catalog = BouquetStore; Integrated Security = SSPI;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="greeting" value="henlo"/>

		<add key="Database" value="BouquetStore"/>
		
		<add key="ParentTableName" value="Florist"/>
		<add key="ChildTableName" value="Occasion"/>
		<add key="SelectChild" value="select * from Occasion;"/>
		<add key="SelectParent" value="select * from Florist;"/>
		<add key="ChildForeignKey" value="florist_id"/>
		<add key="ParentReferencedKey" value="florist_id"/>
		<add key="ChildNrAttributes" value="2"/>
		<add key="PKposition" value="1"/>
		<add key="NAMEposition" value="0"/>
		<add key="FKposition" value="2"/>
		<add key="PKpositionPARENT" value="0"/>
		<add key="ForeignKey" value="FK__Occasion__floris__3B75D760"/>
		<add key="SelectQuery" value="SELECT * FROM Occasion WHERE florist_id = @id"/>
		<add key="UpdateQuery" value="UPDATE Occasion SET florist_id = @f, name = @n WHERE occasion_id = @id"/>
		<add key="InsertQuery" value="INSERT INTO Occasion(florist_id, name) VALUES (@f, @n)"/>
		<add key="DeleteQuery" value="DELETE FROM Occasion WHERE occasion_id=@d"/>
		
		<!--
		<add key="ParentTableName" value="Occasion"/>
		<add key="ChildTableName" value="Bouquet"/>
		<add key="SelectChild" value="select * from Bouquet;"/>
		<add key="SelectParent" value="select * from Occasion;"/>
		<add key="ChildForeignKey" value="occasion_id"/>
		<add key="ParentReferencedKey" value="occasion_id"/>
		<add key="ChildNrAttributes" value="3"/>
		<add key="PKposition" value="0"/>
		<add key="NAMEposition" value="1"/>
		<add key="PRICEposition" value="3"/>
		<add key="FKposition" value="2"/>
		<add key="PKpositionPARENT" value="1"/>
		<add key="ForeignKey" value="FK__Bouquet__occasio__5EBF139D"/>
		<add key="SelectQuery" value="SELECT * FROM Bouquet WHERE occasion_id = @id"/>
		<add key="UpdateQuery" value="UPDATE Bouquet SET occasion_id = @f, bouquet_name = @n, price = @p WHERE bouquet_id = @id"/>
		<add key="InsertQuery" value="INSERT INTO Bouquet(occasion_id, bouquet_name, price) VALUES (@f, @n, @p)"/>
		<add key="DeleteQuery" value="DELETE FROM Bouquet WHERE bouquet_id=@d"/>
		-->
		
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>